.chat{
  height: 100vh;
  overflow: scroll;
  background-color: #ffffff;
 &__side{
   float: left;
   height: 100%;
   width: 300px;
   background-color:#2f3e51;
   overflow: scroll;
   &--header{
     height: 100px;
     width: 300px;
     background-color: #253140;
     font-weight: bold;
     color: #ffffff;
     display: flex;
     align-items: center;
     &--name{
    margin-left: 20px;
     }
     &--contents{
       color: #ffffff;
       margin-left: 70px;
      }
     &--set{
       color: #ffffff;
       margin-left: 5px;
     }
   }
   &--list{
     float: left;
     height: calc(100% - 100px);
     width: 300px;
     background-color: #2f3e51;
     position: fixed;
     &--g{
      position: relative;
      padding: 0 20px;
      height: 100px;
      background-color: #2f3e51;
      font-weight: bold;
      font-size: 15px;
      color: #ffffff;
      display: flex;
      align-items: center;
      &--a{
        position: absolute;
        padding: 5 20px;
        height: 11px;
        font-size: 11px;
        bottom: 20px;
      }
    }
   }
  }
 &__main{
    // width: calc(100vw - 300px);
    background-color: #ffffff;
    float: left;
    width: calc(100vw - 300px);
   &--header{
     position: relative;
     height: 100px;
     width: 100%;
     background-color: #ffffff;
     padding: 0 40px;
     font-weight: bold;
     font-size: 20px;
     color: black;
     display: flex;
     align-items: center;
     position: fixed;
     &--members{
       position: absolute;
       padding: 5 20px;
        height: 11px;
        font-size: 12px;
        color: grey;
        bottom: 20px;
     }
     &--contents{
      background-color: white;
      border:  1px solid #38AE;
      height: 40px;
      padding: 0 20px;
      color:#38AE;
      font-size: 20px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      margin-left: 800px;
      
     }
   }
  
  &--list{
    background-color: #fafafa;
    padding-top: 35px; 
    &--g{
        &--roup{
        padding: 0 20px;
        font-weight: bold;
        font-size: 15px;
        color: #253141;
        display: inline-block;
        }
        &--day{
        color: grey;
        padding: 0 15px;
        font-size: 11px;
        display: inline-block;
        }
        &--a{
        margin: 20px;
        font-size: 11px;
        }
      }
    }
  &--footer{
      width:  calc(100% - 300px);
      background-color: gray;
      box-sizing: border-box;
      height: 90px;
      padding-top: 20px;
      padding-left: 10px;
      position: fixed;
      bottom: 0;
    &--in{
      position: relative;
      color: #434a54;
      width: 90%;
      padding-left: 40px;
      &--file{
      font-family: fontawesome;
      font-size: 1.3rem;
      position: absolute;
      padding-left: 420px;
    }
  }
}
    &--send{
      width: 100px;
      height: 50px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
      margin-left:30px;
    }
}
}
.icon {
    padding-top: 16px;
 }
.hidden{
  display: none;
}
.new_message{
  display: flex;
}
.chat__main--body{
  height: calc(100vh - 190px);
  padding: 100px 40px;
  background-color: #fafafa;
  overflow: scroll;
}